@import '../fonts/Inter/inter.css';
@import '../fonts/DMSans/dmsans.css';
@import '../fonts/Instrument/instrument.css';

html,
body {
    height: 100%;
    font-size: 14px;
    background-color: var(--f-color-background) !important;
    scroll-behavior: smooth;
    font-feature-settings: 'liga' 1, 'calt' 1, 'cv10' 10, 'cv06' 6, 'cv12' 12, 'cv13' 13, 'ss01' 1, 'cv01' 1, 'cv02' 2,
        'cv03' 3, 'cv04' 4, 'cv09' 9, 'cv08' 8 !important;
}

/* shinji */

[data-rehype-pretty-code-figure] {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    max-height: inherit;
}

[data-rehype-pretty-code-figure] pre {
    overflow-x: auto;
    padding: 1rem 0;
    border-radius: var(--f-radius);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background: var(--f-color-base-900) !important;
    max-height: inherit;
    max-height: 500px;
    width: 100%;
    border: 1px solid var(--f-color-base-700);
    border-top: 0;
}

[data-rehype-pretty-code-figure] pre [data-line] {
    padding: 0 2rem;
}

[data-rehype-pretty-code-figure] pre [data-line] > span {
    font-family: monospace;
    font-size: 0.9rem;
}

[data-rehype-pretty-code-figure] code {
    counter-reset: line;
}

[data-rehype-pretty-code-figure] code > [data-line]::before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    width: 1rem;
    margin-right: 2rem;
    text-align: right;
    color: rgba(255, 255, 255, 0.1);
    font-size: 0.8rem;
}

[data-rehype-pretty-code-figure] code[data-line-numbers-max-digits='2'] > [data-line]::before {
    width: 2rem;
}

[data-rehype-pretty-code-figure] code[data-line-numbers-max-digits='3'] > [data-line]::before {
    width: 3rem;
}

/* info blocks*/

[data-theme="light"] .dotted {
    background-image: radial-gradient(var(--f-color-border) 1px, transparent 0);    
    background-size: 9px 9px;
    background-position: -19px -19px;
}

[data-theme="dark"] .dotted {
    background-image: radial-gradient(var(--f-color-surface-strong) 1px, transparent 0);    
    background-size: 9px 9px;
    background-position: -19px -19px;
}

.dx > * {
    z-index: 1;
}

.dx-code {
    mask-image: linear-gradient(to bottom, var(--f-color-surface) 10%, rgba(255,255,255,0.1), transparent, rgba(255,255,255,0.1), var(--f-color-surface));
    z-index: 0;
    transform: rotateZ(8deg);
}

.dx-code [data-rehype-pretty-code-figure] pre {
    background: transparent !important;
    border: none;
    margin: 0;
    user-select: none;
}

.dx-code [data-rehype-pretty-code-figure] pre [data-line] > span {
    font-size: 1.1rem;
}

.dx-code [data-rehype-pretty-code-figure] code > [data-line]::before {
    display: none;
}

/* page */

.releases-content h2 {
    font-size: 1.5rem;
}

.scroll-content {
    overflow-y: scroll;
    background: var(--f-color-surface-strong);
}

.story-block {
    position: relative;
    width: 100%;
    padding: 2rem;
    background: var(--f-color-surface);
    border-radius: var(--f-radius);
    box-shadow: var(--f-shadow-card); 
    background-image: radial-gradient(var(--f-color-surface-strong) 1px, transparent 0);
    background-size: 8px 8px;
    background-position: -19px -19px;
    z-index: 2;
}

.story-block .f-menu > * {
    z-index: 1 !important;
}

[data-rehype-pretty-code-figure],
[data-rehype-pretty-code-figure] * {
    z-index: 0;
}

.styled-content > h1,
.docs-content > h1 {
    line-height: 4rem;
    margin: 0.5rem 0 0.5rem 0;
}

.styled-content > h2,
.docs-content > h2 {
    line-height: 2rem;
    margin: 1rem 0 1rem 0;
}

.styled-content > h3,
.docs-content > h3 {
    line-height: 2rem;
    margin: 1.75rem 0 1rem 0;
}

.styled-content > h4,
.docs-content > h4 {
    line-height: 1.25rem;
    margin: 1.75rem 0;
    font-weight: bold;
}

.styled-content > h5,
.docs-content > h5 {
    line-height: 1rem;
    margin: 1.75rem 0;
}

.styled-content > h6,
.docs-content > h6 {
    line-height: 1rem;
}

.styled-content > p,
.docs-content > p {
    line-height: 1.5rem;
    margin: 1rem 0;
}

.styled-content > blockquote,
.docs-content > blockquote {
    margin-bottom: 1rem;
}

.docs-content > .f-list code,
.docs-content > .f-text code,
.docs-content > blockquote code,
.styled-content > .f-list code,
.styled-content > .f-text code,
.styled-content > blockquote code {
    background: var(--f-color-surface-highlight);
    color: var(--f-color-accent);
}

.f-scrolling-date-picker {
    overflow: hidden;
    overflow-y: auto;
}

[data-theme="dark"] .hero-background .graphic-right,
[data-theme="dark"] .hero-background .graphic-left {
    opacity: 0.1 !important;
}

[data-theme="light"] .hero-background .graphic-right,
[data-theme="light"] .hero-background .graphic-left {
    opacity: 0.2 !important;
}

[data-theme="light"],
[data-theme="dark"] {
    --f-color-nav-translucent: var(--f-color-base-950);
} 

[data-theme="light"] .page-nav {
    --f-button-color: var(--f-color-accent-100);
    --f-button-color-hover: var(--f-color-accent-50);
    --f-button-border-color: var(--f-color-accent-100);
    --f-button-background-color: transparent;
    --f-button-background-color-hover: var(--f-color-accent-600);
} 

.hero-background {
    background-color: var(--f-color-base-900);
    background-size: 100% auto !important;
    background-position: center top !important;
    justify-content: flex-start;
}

.hero-background::after {
    content: ' ';
    display: block;
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0, 0, 0, 0.2));
}

.hero-background * {
    z-index: 1;
    position: relative;
}

.mobile-component {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000000;
    background: var(--f-color-surface);
}

.f-header .f-popout-bottom-right.has-arrow {
    left: 40px;
}

.go {
    padding: 5rem;
}

.f-heading.hero__heading {
    letter-spacing: -2px;
}

 .text-content h1 {
    line-height: 4rem;
    margin: 0.5rem 0 0.5rem 0;
}

.text-content h2 {
    line-height: 2rem;
    margin: 1rem 0 1rem 0;
}

.text-content p {
    line-height: 1.5rem;
    margin: 1rem 0;
}

.lazy-load-dark {
    content: url("../../public/screenshot.png");
}

.lazy-load-light {
    content: url("../../public/screenshot.png");
}

[data-theme="dark"] .pro-image {
    content: url("../../public/screenshot.png");
}

[data-theme="light"] .pro-image {
    content: url("../../public/screenshot.png");
}

/* mobile */

@media only screen and (max-device-width: 640px),
    only screen and (max-device-width: 667px),
    only screen and (max-width: 480px) {

    .full-width-mobile {
        width: 100% !important;
    }

    .hide-mobile {
        display: none !important;
    }

    .go {
        padding: 2rem;
    }

    .hero {
        padding-bottom: 5rem !important;
    }

    .hero-background {
        background-image: none !important;
    }

    .hero .graphic-left {
        top: 600px !important;
    }

    .hero__heading {
        font-size: 4rem !important;    
        letter-spacing: 1px !important;
    }

    .core__hero {
        padding: 0 !important;
    }

    .core__hero > .code {
        display: none !important;
    }

    .features {
        flex-direction: column;
    }

    .features img.lines {
        display: none;
    }

    .features section {
        display: none;
    }

    .core__components-container {
        padding: 0rem !important;
        width: 95% !important;
        border: 1px solid red;
        margin: 0 auto !important;
    }

    .core__components-container > * {
        padding: 1rem !important;
    }

    .core__components {
        flex-direction: column !important;
        padding: 0px !important;
        width: 100% !important;
    }

    .core__components > * {
        width: 100% !important;
        padding: 0px !important;
        flex: 1 !important;
    }

    .navigation,
    .pro,
    .overview-calendar {
        display: none;
    }

    .pricing {
        padding: 2rem !important;
    }

    .pricing .f-pill {
        width: 90%;
        height: fit-content;
        padding: 1rem;
    }

    .pricing .f-pill > * {
        white-space: wrap;
        text-align: center;
        width: 100%;
    }

    .pricing__cards {
        flex-direction: column !important;
        width: 100% !important;
        max-width: 100% !important;
        min-width: 100% !important;
    }   

    .pricing__cards > div {
        width: 100% !important;
    }

    .pricing__faq {
        flex-direction: column;
        gap: 1rem !important;
    }

    .pricing__faq > div {
        padding: 20px !important;
    }

    .support {
        width: 100% !important;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 1rem !important;
    }    

    .support > div {
        width: 100%;
        padding: 2rem !important;
    }

    .footer {
        flex-direction: column;
        flex-flow: column-reverse;
        padding: 3rem !important;
    }

    .footer_block {
        margin-top: 1.5rem;
    }

    .footer_buttons {
        display: none;
    }

    .text-content {
        padding: 2rem !important;
    }

    .f-modal__inner .text-content {
        padding: 0rem !important;
    }

    .docs-site .f-main .f-header > * {
        display: none;
    }

    .docs-site .f-main .docs-site__mobile-header {
        display: flex !important;
    }

    .docs-site .docs-site__toc {
        display: none !important;
    }

    .docs-site .docs-site__nav {
        z-index: 1000;
        box-shadow: var(--f-shadow-card);
        width: 80% !important;
        position: fixed;
        left: -80%;
        top: 0px;
        transition: left 0.5s;
    }

    .docs-site .docs-site__nav > * {
        width: 100% !important;
    }

    .docs-site__intro-blocks {
        display: none;
    }

    .docs-site .docs-site__nav.is-open {
        left: 0px;
    }

    .docs-site__ds-card {
        justify-content: center !important;
    }

    .docs-site__ds-card h4 {
        display: none;
    }

    .docs-pro__faq {
        padding: 2rem !important;
    }

    .docs-site__warning {
        display: block !important;
        padding: 1rem;
        font-weight: bold;
        color: var(--f-color-highlight);
        font-size: 1.05rem;
        font-family: var(--f-font-body);
        border-bottom: 1px solid var(--f-color-border);
        background: var(--f-color-surface-strong);
    }

    /* fold UI specific styles */

    .f-modal__inner {
        width: 90% !important;
        right: 5% !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}

.docs-site__warning {
    display: none;
}

.docs-site .f-main .docs-site__mobile-header {
    display: none;
}

*:focus {
    -webkit-tap-highlight-color: transparent !important;
    outline: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

.footer_block > p {
    padding-left: 2px;
}

/* temp fix */ 

.f-drag-ghost .f-kanban-card {
    border-radius: var(--f-kanban-card-radius);
}

:root {
    --f-max-width: 900px;
}

.gradient {
    background-color: var(--f-color-zinc-900) !important;
    background-image: url('../../public/gradient.svg') !important;
    background-size: 100% auto !important;
    background-position: center -75% !important;
    justify-content: flex-start;
    position: relative;
}

.grid-squares {
    --size: 4px;
    position: absolute;
    inset: 0;
    pointer-events: none;
    background-image: repeating-linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.3) 0 1px,
            transparent 1px var(--size)
        ),
        repeating-linear-gradient(90deg, rgba(0, 0, 0, 0.3) 0 1px, transparent 1px var(--size));
    background-size: var(--size) var(--size);
    background-repeat: repeat;
    z-index: 1;
}

.shooting-stars {
    position: absolute;
    z-index: 1;
    inset: 0;
    overflow: hidden;
}

span.star {
    display: block;
    position: absolute;
    top: 0%;
    left: 50%;
    width: 4px;
    height: 4px;
    background: var(--f-color-base-300);
    border-radius: 50%;
    animation: animate 40s linear infinite;
    z-index: 1;
    opacity: 0;
}

span.star::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg, var(--f-color-base-500), transparent);
    z-index: 0;
}
@keyframes animate {
    0% {
        transform: rotate(330deg) translateX(0);
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: rotate(330deg) translateX(-1500px);
        opacity: 0;
    }
}

span.star:nth-child(1) {
    top: 0;
    right: -25%;
    left: initial;
    animation-delay: 10s;
    animation-duration: 20s;
}

span.star:nth-child(2) {
    top: 0;
    right: -15%;
    left: initial;
    animation-delay: 20s;
    animation-duration: 50s;
}

span.star:nth-child(3) {
    top: 80;
    right: 0%;
    left: initial;
    animation-delay: 30s;
    animation-duration: 40s;
}

span.star:nth-child(4) {
    top: 0;
    right: 10%;
    left: initial;
    animation-delay: 40s;
    animation-duration: 35s;
}

span.star:nth-child(5) {
    top: 0;
    right: 20%;
    left: initial;
    animation-delay: 50s;
    animation-duration: 45s;
}

span.star:nth-child(6) {
    top: 0;
    right: 30%;
    left: initial;
    animation-delay: 60s;
    animation-duration: 35s;
}

span.star:nth-child(7) {
    top: 300px;
    right: 40%;
    left: initial;
    animation-delay: 70s;
    animation-duration: 35s;
}

span.star:nth-child(8) {
    top: 0px;
    right: 50%;
    left: initial;
    animation-delay: 80s;
    animation-duration: 35s;
}

span.star:nth-child(9) {
    top: 0px;
    right: 60%;
    left: initial;
    animation-delay: 90s;
    animation-duration: 45s;
}

span.star:nth-child(9) {
    top: 0px;
    right: 70%;
    left: initial;
    animation-delay: 100s;
    animation-duration: 50s;
}
